{% load tz %}
{% for message in messages %}
<li
  class="message {% if message.sender_id == request.user.pk %}message--self{% else %}message--other{% endif %}"
  data-message-id="{{ message.pk }}"
  data-created="{{ message.created_at|date:"c" }}"
>
  <div class="message__meta">
    <span class="message__sender">
      {% if message.sender_id == request.user.pk %}Ban{% else %}{{ message.sender.get_full_name|default:message.sender.username }}{% endif %}
    </span>
    <span class="message__time">{{ message.created_at|localtime|date:"H:i d/m/Y" }}</span>
  </div>
  <div class="message__body">{{ message.body|linebreaksbr }}</div>
</li>
{% endfor %}
